<html>
    <head>
        <title>MEET THE DOGS</title>
    <title>FOSTER</title>
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
    </head>
    
    <body id="bodyy">
        <div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<span class="image"><a href="/index"><img style = "width: 300px; height: 300px;" src="/static/images/logoo.png" alt="" /></a></span>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="/index#intro" class="active">Back to Homepage</a></li>
				<li><a href="/index#cta">Log In</a></li>
				<li><a href="/signup"> Sign Up </a></li>
				<li><a href="/jack_profile"> Meet Charlie </a></li>
				<li><a href="/service"> Shop </a></li>
			</ul>
		</nav>
			<div id="main">
		
		<!-- Second Section -->
			<section id="second" class="main special">
				<header class="major">
					<h1>Here are more dogs who are in need of love and care.</h1>
				</header>
				<!--<ul class="aabriti">-->
				<!--	<h1 class = "aabriti">Here are more dogs who are in need of love and care. </h1>-->
				<!--</ul>-->
				<ul class="statistics">
					<li class="style2">
						<span class="logo"><img style = "border-radius:100%; width: 200px; height: 200px;" src="/static/images/pic 01.png" alt="" /></span>
						<!--<span class="icon solid fa-code-branch"></span>-->
						<strong>Max</strong> Max is a gentle and playful Golden Retriever. [3 years old]
						<ul class="actions">
							<li><br><a href="/generic" class="button"> FOSTER NOW </a></li>
						</ul>
					</li>
					<li class="style1">
						<span class="logo"><img style = "border-radius:100%; width: 200px; height: 200px;" src="/static/images/pup.jpg" alt="" /></span>
						<!--<span class="icon fa-folder-open"></span>-->
						<strong>Petunia</strong> Petunia loves belly rubs, meeting other dogs, and treats! [2 years old]
						<ul class="actions">
							<li><br><a href="/generic" class="button"> FOSTER NOW </a></li>
						</ul>
					</li>
					<li class="style3">
						<span class="logo"><img style = "border-radius:100%; width: 200px; height: 200px;" src="/static/images/ohdog.jpg" alt="" /></span>
						<!--<span class="icon solid fa-laptop"></span>-->
						<strong>Luke</strong> Luke has a big heart for his future Foster family! [3 years old]
						<ul class="actions">
							<li><br><a href="/generic" class="button"> FOSTER NOW </a></li>
						</ul>
					</li>
					</ul>
					<ul class="statistics">
					<li class="style4">
						<span class="logo"><img style = "border-radius:100%; width: 200px; height: 200px;" src="/static/images/woww.jpg" alt="" /></span>
						<!--<span class="icon solid fa-code-branch"></span>-->
						<strong>Bailey</strong> Bailey is a small dog who is full of love. [1 year old]
						<ul class="actions">
							<li><br><a href="/generic" class="button"> FOSTER NOW </a></li>
						</ul>
					</li>
					<li class="style3">
						<span class="logo"><img style = "border-radius:100%; width: 200px; height: 200px;" src="/static/images/domino.jpg" alt="" /></span>
						<!--<span class="icon solid fa-code-branch"></span>-->
						<strong>Domino</strong> Domino is gentle, intelligent, and social.  [3 years old] 
						<ul class="actions">
							<li><br><a href="/generic" class="button"> FOSTER NOW </a></li>
						</ul>
					</li>
					<li class="style2">
						<span class="logo"><img style = "border-radius:100%; width: 200px; height: 200px;" src="/static/images/shy.jpg" alt="" /></span>
						<!--<span class="icon fa-folder-open"></span>-->
						<strong>Luna</strong> Luna is laidback, independent, and loving. [6 years old]
						<ul class="actions">
							<li><br><a href="/generic" class="button"> FOSTER NOW </a></li>
						</ul>
					</li>
					</ul>
					<ul class="statistics">
					<li class="style3">
						<span class="logo"><img style = "border-radius:100%; width: 200px; height: 200px;" src="/static/images/wow.jpg" alt="" /></span>
						<!--<span class="icon solid fa-laptop"></span>-->
						<strong>Finn</strong> Finn is enthusiastic, intelligent and loving. [2 years old]
						<ul class="actions">
							<li><br><a href="/generic" class="button"> FOSTER NOW </a></li>
						</ul>
					</li>
					<li class="style1">
						<span class="logo"><img style = "border-radius:100%; width: 200px; height: 200px;" src="/static/images/ahh.jpg" alt="" /></span>
						<!--<span class="icon fa-folder-open"></span>-->
						<strong>Alaska</strong> Alaska loves cuddling and long walks on the beach. [6 years old]
						<ul class="actions">
							<li><br><a href="/generic" class="button"> FOSTER NOW </a></li>
						</ul>
					</li>
					<li class="style4">
						<span class="logo"><img style = "border-radius:100%; width: 200px; height: 200px;" src="/static/images/hiii.jpg" alt="" /></span>
						<!--<span class="icon solid fa-code-branch"></span>-->
						<strong>Rocky</strong> Rocky is small but full of energy. [3 years old]
						<ul class="actions">
							<li><br><a href="/generic" class="button"> FOSTER NOW </a></li>
						</ul>
					</li>
				</ul>
			</section>
				</section>
			<!-- Footer -->
			<footer id="footer">

				<section>
					<h2>CONTACT US</h2>
					<dl class="alt">
						<dt>Address</dt>
						<dd>1234 Somewhere Road &bull; New York, NY 00000 &bull; USA</dd>
						<dt>Phone</dt>
						<dd>(000) 000-0000 x 0000</dd>
						<dt>Email</dt>
						<dd><a href="#">contact@foster.com</a></dd>

					</dl>

					<a href="https://instagram.com/aabriti" class="icon brands fa-instagram alt"><span class="label">Follow Aabriti on Instagram</span></a>
					<a href="https://www.instagram.com/mercedess.urena/" class="icon brands fa-instagram alt"><span class="label">Follow Mercedes on Instagram</span></a>

				</section>
				<section>
					<span class="logo"><img style = "border-radius:100%; width: 200px; height: 200px;" src="/static/images/Call-me.jpg" alt="" /></span></section>
				<p class="copyright">&copy; Foster. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
			</footer>
			</div>
			</div>
    </body>
</html>