<html>

<head>
    <title>THE FOSTER STORE</title>
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
</head>

<body>
    <div id="wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <span class="image"><a href="/index"><img style = "width: 300px; height: 300px;" src="/static/images/logoo.png" alt="" /></a></span>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/index#intro" class="active">Back to Homepage</a></li>
                <li><a href="/index#cta">Log In</a></li>
                <li><a href="/signup"> Sign Up </a></li>
                <li><a href="/dog_profiles"> Meet The Dogs </a></li><li>
              <br>
              <a href="/index#cta"> <i class="fa fa-user fa-lg"></i> </a>
            <a href="/cart" class="site-header__cart-toggle js-drawer-open-right-link" aria-controls="CartDrawer" aria-expanded="true">
            <i class="fa fa-shopping-cart fa-lg"></i>
                
          </a>
        
            </ul>
        </nav>
        <div id="main">

            <!-- Second Section -->
            <section id="second" class="main special">
                <header class="major">
                    <h1>Welcome To The Foster Store.</h1>
                </header>
                <!--<ul class="aabriti">-->
                <!--	<h1 class = "aabriti">Here are more dogs who are in need of love and care. </h1>-->
                <!--</ul>-->
                <ul class="statistics">
                    <li class="aabriti">
                        <span class="logo"><img style = " width: 200px; height: 200px;" src="/static/images/collar.jpg" alt="" /></span>
                        <!--<span class="icon solid fa-code-branch"></span>-->
                        <strong><br>Dog Collar</strong> <br> $3.50
                        <ul class="actions">
                            <li><br><a href="/cart" class="button"> ADD TO CART </a></li>
                        </ul>
                    </li>
                    <li class="aabriti">
                        <span class="logo"><img style = " width: 200px; height: 200px;" src="/static/images/leash.png" alt="" /></span>
                        <!--<span class="icon fa-folder-open"></span>-->
                        <strong><br>Dog Leash</strong> <br> $3.50
                        <ul class="actions">
                            <li><br><a href="/cart" class="button"> ADD TO CART </a></li>
                        </ul>
                    </li>
                    <li class="aabriti">
                        <span class="logo"><img style = " width: 200px; height: 200px;" src="/static/images/bed.png" alt="" /></span>
                        <!--<span class="icon solid fa-laptop"></span>-->
                        <strong><br>Dog Bed</strong> <br> $19.99
                        <ul class="actions">
                            <li><br><a href="/cart" class="button"> ADD TO CART </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="statistics">
                    <li class="aabriti">
                        <span class="logo"><img style = " width: 200px; height: 200px;" src="/static/images/bowl.jpg" alt="" /></span>
                        <!--<span class="icon solid fa-code-branch"></span>-->
                        <strong><br>Dog Bowl</strong> <br> $4.50
                        <ul class="actions">
                            <li><br><a href="/cart" class="button"> ADD TO CART </a></li>
                        </ul>
                    </li>
                    <li class="aabriti">
                        <span class="logo"><img style = " width: 200px; height: 200px;" src="/static/images/treat1.jpg" alt="" /></span>
                        <!--<span class="icon solid fa-code-branch"></span>-->
                        <strong><br>Dog Treats</strong> <br> $7.50
                        <ul class="actions">
                            <li><br><a href="/cart" class="button"> ADD TO CART </a></li>
                        </ul>
                    </li>
                    <li class="aabriti">
                        <span class="logo"><img style = " width: 200px; height: 200px;" src="/static/images/poopbags.jpg" alt="" /></span>
                        <!--<span class="icon fa-folder-open"></span>-->
                       <strong><br>Poop Bags</strong> <br> $15
                        <ul class="actions">
                            <li><br><a href="/cart" class="button"> ADD TO CART </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="statistics">
                    <li class="aabriti">
                        <span class="logo"><img style = " width: 200px; height: 200px;" src="/static/images/bigtreats.png" alt="" /></span>
                        <!--<span class="icon solid fa-laptop"></span>-->
                        <strong><br>Large Box of Treats</strong> <br> $50
                        <ul class="actions">
                            <li><br><a href="/cart" class="button"> ADD TO CART </a></li>
                        </ul>
                    </li>
                    <li class="aabriti">
                        <span class="logo"><img style = " width: 200px; height: 200px;" src="/static/images/largefood.png" alt="" /></span>
                        <!--<span class="icon fa-folder-open"></span>-->
                        <strong><br>Dog Food</strong> <br> $30
                        <ul class="actions">
                            <li><br><a href="/cart" class="button"> ADD TO CART </a></li>
                        </ul>
                    </li>
                    <li class="aabriti">
                        <span class="logo"><img style = " width: 200px; height: 200px;" src="/static/images/collars.jpg" alt="" /></span>
                        <!--<span class="icon solid fa-code-branch"></span>-->
                        <strong><br>Dog Collars</strong> <br> $20
                        <ul class="actions">
                            <li><br><a href="/cart" class="button"> ADD TO CART </a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            </section>
            <!-- Footer -->
            <footer id="footer">

                <section>
                    <h2>CONTACT US</h2>
                    <dl class="alt">
                        <dt>Address</dt>
                        <dd>1234 Somewhere Road &bull; New York, NY 00000 &bull; USA</dd>
                        <dt>Phone</dt>
                        <dd>(000) 000-0000 x 0000</dd>
                        <dt>Email</dt>
                        <dd><a href="#">contact@foster.com</a></dd>

                    </dl>

                    <a href="https://instagram.com/aabriti" class="icon brands fa-instagram alt"><span class="label">Follow Aabriti on Instagram</span></a>
                    <a href="https://www.instagram.com/mercedess.urena/" class="icon brands fa-instagram alt"><span class="label">Follow Mercedes on Instagram</span></a>

                </section>
                <section>
                    <span class="logo"><img style = " border-radius:100%; width: 200px; height: 200px;" src="/static/images/Call-me.jpg" alt="" /></span></section>
                <p class="copyright">&copy; Foster. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>
        </div>
    </div>
</body>

</html>